#header {
  background-color: #ffffff;
  font-family: 'Georgia',Times,'Times New Roman',serif;
  border-color: #4aaaa5;
  
}

nav {
float: right;

}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  width: 960px;
  margin-left: 200px;
  margin-right: 230px;

}

.paragraph {
  display: inline;
  padding-left: 30px;
}


#middle img{ 
  display: inline-block;
  float: left;
  width: auto;
}

section {
  display:block;
}

footer {
  display: inline-block;
  text-align: center;
}